branches:
  - name: "master"
plugins:
  - "@semantic-release/release-notes-generator"
  - "@semantic-release/commit-analyzer"
  - "@semantic-release/changelog"
  - "@semantic-release/github"
  - "@semantic-release/git"
