   name: Release
   on:
     push:
       branches:
         - master
   jobs:
     release:
       runs-on: ubuntu-latest
       steps:
         - name: Checkout
           uses: actions/checkout@master
         - name: Release
           uses: codfish/semantic-release-action@v2.2.0
           env:
             GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
